*.svg
output/*.xml
*.csv
*.o
*.mat
*.png
*.DS_store
**./DS_store
PhysiBoSS_Cell_Lines
.vscode
addons/PhysiBoSS/MaBoSS-env-2.0/*
out*.xml
out*.mat
final*.xml
final*.mat
initial*.xml
initial*.mat
out*.txt
final*.txt
initial*.txt
