*.svg
*.err
load_data*.txt
Template*.txt
base_model*.txt
spatial_model*.txt
output/*.xml
output/*.csv
output/*.html
output/*.txt
!output/empty.txt
output/detailed_rules.html
output/detailed_rules.txt
output/dictionaries.txt
output/rules.html
output/rules.txt
*.o
*.mat
*.png
*.DS_store
**./DS_store
PhysiBoSS_Cell_Lines
PhysiBoSS_Cell_Lines.exe
.vscode
addons/PhysiBoSS/MaBoSS-env-2.0/*
out*.xml
out*.mat
output*.txt
states*.csv
final*.xml
final*.mat
initial*.xml
initial*.mat
out*.txt
final*.txt
initial*.txt
leukemia_model_files/*
leukemia_output/*
