*.svg
output/*.xml
output/*.csv
output/*.html
output/detailed_rules.html
output/detailed_rules.txt
output/dictionaries.txt
output/rules.html
output/rules.txt
*.o
*.mat
*.png
*.DS_store
**./DS_store
PhysiBoSS_Cell_Lines
PhysiBoSS_Cell_Lines.exe
.vscode
addons/PhysiBoSS/MaBoSS-env-2.0/*
out*.xml
out*.mat
final*.xml
final*.mat
initial*.xml
initial*.mat
out*.txt
final*.txt
initial*.txt
Variant Model Files/*.bnd
Variant Model Files/*.cfg
Variant Model Files/*.xml
!Variant Model Files/base_model_file_multiple_interventions.xml
!Variant Model Files/base_model_file.xml
!Variant Model Files/TLGL.bnd
!Variant Model Files/TLGL.cfg
